* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'bold', sans-serif;
}

body {
  background-color: #fff;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1500px;
  margin: auto;
  align-items: flex-start;
}

.form-section {
  flex: 1 1 500px;
}

.form-section h1 {
  font-size: 40px;
  color: #00713d;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 20px;
  font-size: 1rem;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 4px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  display: inline-block;
  background: #b60000;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
}

button:hover {
  background: #910000;
  transform: translateY(-2px); 
}

.image-section {
  flex: 1 1 500px;
  text-align: center;
  transition: transform 0.3s;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}
.image-section:hover img{
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

