/* SECCIÓN: RECOMENDACIÓN */
.recomendacion {
  padding: 60px 20px;
  background: #fff;
  text-align: left;
}

.recomendacion h2 {
  font-size: 32px;
  color: #00713d;
  margin-bottom: 40px;
}

.reco-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.reco-item {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.reco-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s;
  
}

.reco-item:hover img {
  transform: scale(1.05);
}

.reco-principal {
  grid-column: span 2;
  position: relative;
}

.reco-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reco-overlay h3 {
  font-size: 32px;
  margin-bottom: 10px;
}

.reco-overlay a {
  color: #fff;
  font-size: 20px;
  text-decoration: underline;
}

.reco-boton {
  margin-top: 30px;
}

.btn-rojo {
  display: inline-block;
  background: #b60000;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  transition: background 0.3s;
  border-radius: 4px;
}

.btn-rojo:hover {
  background: #910000;
}

/* RESPONSIVE AJUSTES */
@media (max-width: 768px) {
  .reco-principal {
    grid-column: span 1;
  }

  .reco-overlay h3 {
    font-size: 20px;
  }

  .reco-overlay {
    padding: 15px;
  }
}
